@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");


.Note{
    position: fixed;
    background-color:rgba(255, 157, 11, 0.7);
    height: auto;
    width: 200px;
    margin-top: 1%;
    margin-left: 21%;
    border-radius: 2%;
  
}

h3{
    /* font-size:100%; */
    font-family: "Fredericka the Great", cursive;
    color:#093F98;
    margin: 5%;
}
input {
    background-color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    /* padding: 5%; */
    margin:2% 2% 2% 2%;
}

.work h4{
    background-color: transparent;
        /* background-color:rgba(198, 219,5,0.8); */
        /* color: blanchedalmond; */
        color: #093F98;
        /* width:100%; */
        /* font-family: "Fredericka the Great", cursive; */
}
.background-color{
    background-color: #093F98;
}

.dateCreation{
    font-size: 0.9em;   
}

@media (max-width:768px){
    .Note{
        background-color: violet;
    }
}